# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Node.js / Frontend
node_modules/
dist/
.vercel
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
